body {
    background-color: #34bba9;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #2c3dd8;
    color: rgb(56, 40, 40);
    font-family: "Bai Jamjuree", sans-serif;
}
